<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 justify-content-center">
        <img src="https://images.vexels.com/media/users/3/143047/isolated/preview/b0c9678466af11dd45a62163bdcf03fe-fast-food-hamburger-flat-icon-by-vexels.png"
            class="rounded mx-auto d-block burgerimg" alt="burger image">
        <h1>Eat-Da-Burger!</h1>
        <div class="row">
            <div class="col-md-6 created">
                <ul>
                    {{#each stuff}}
                    {{#unless devoured}}
                    {{> devoured/stuff-block devoured=false}}
                    {{/unless}}
                    <button type="submit" id="delete" value={{stuff.id}}>Delete</button>
                    {{/each}}
                </ul>
            </div>
            <div class="col-md-6 devoured">
                {{#each stuff}}
                {{#if devoured}}
                {{> devoured/stuff-block devoured=true}}
                {{/if}}
                {{/each}}
            </div>
        </div>

        <form class="create-form">
            <textarea class="form-control txtBox" aria-label="With textarea"></textarea>
            <button type="submit" class="add-burger">Add Burger</button>
            <h3>Enter a burger you want to eat, Click the "SUBMIT" button.</h3>
        </form>

    </div>
    <div class="col-md-3"></div>
</div>